﻿@model EmailTemplates.Models.JobPublishedEmailModel

@{
  Layout = null;
}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">  
<head>  
  <meta charset="utf-8" />
  <title>Welcome</title>
</head>  
<body>  
<p>
  Hi @Model.ContactName,
</p>
<p>
  Thanks for creating a job.
</p>

</body>  
</html>  